@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chela+One&family=Cookie&family=Galindo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Mono+One&display=swap');


* {
    margin: 0;
    padding: 0;
}

*>p {
    font-family: "Open sans", serif;
}

*>h1 {
    font-weight: bold;
}

.navbar {
    font-family: "Montserrat", serif;
    background-color: #ffffff00;
}

.navbar .nav-link {
    color: #d71132;
    text-shadow: 1px 1px 0px #ffffff;
    font-weight: 600;
}

.navbar .nav-item button {
    background-color: #d71132;
}

.navbar .nav-item button:hover {
    background-color: #ac001d;
    transform: scale(1.02);
}

.navbar .nav-item button a {
    text-decoration: none;
    font-weight: 600;
}

.navbar .logo img {
    width: 50px;
    height: auto;
}






/*HOMEPAGE*/
#homepage {
    background-image: url(./img/homepage-webslider-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#homepage .homepage-header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.71);
    padding: 80px 15px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

#homepage .homepage-text .txt {
    color: #d71132;
    text-shadow: 1px 1px 0px #000000;
    font-size: 3rem;
    letter-spacing: 5px;
}

#homepage .homepage-text .txt2 {
    font-size: 1.2rem;
    color: #fff;
}

#homepage .homepage-text .btn {
    letter-spacing: 3px;
    font-family: "Montserrat", serif;
    margin-top: 15px;
}

#homepage .homepage-image {
    clip-path: circle(50% at 50% 50%);
    background-color: #fff;
    max-width: 300px;
    height: 300px;
    overflow: hidden;
}

#homepage .homepage-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    #homepage .homepage-text .txt {
        font-size: 2.5rem;
    }

    #homepage .homepage-text .txt2 {
        font-size: 1rem;
    }

    #homepage .homepage-image {
        max-width: 250px;
        height: 250px;
    }
}

@media (max-width: 576px) {
    #homepage .homepage-text .txt {
        font-size: 2rem;
    }

    #homepage .homepage-header {
        text-align: center;
        padding: 30px 15px;
    }

    #homepage .homepage-image {
        max-width: 200px;
        height: 200px;
    }
}







/*HOMEPAGE BROWSE*/
.homepage-browse {
    background-color: rgb(255, 227, 233);
    padding: 15px;
}

.homepage-browse h3 {
    font-family: "Montserrat", serif;
    color: #d71132;
    font-size: 2rem;
    text-shadow: 1px 1px 0px #000000;
    font-weight: bold;
}

.homepage-browse .browse-description p {
    width: 60%;
}

.homepage-browse .browse-card {
    transition: transform 0.3s;
    position: relative;
    overflow: hidden;
}

.homepage-browse .browse-card:hover {
    transform: scale(1.02);
}

.homepage-browse .browse-card img {
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
}

.homepage-browse .browse-card .card-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
}

.homepage-browse .browse-card .card-text h5 {
    font-family: "Montserrat", serif;
    color: #d71132;
    text-shadow: 1px 1px 0px #000000;
}

.homepage-browse .browse-card .browse-button {
    font-size: 12px;
    font-family: "Montserrat", serif;
}


/* Responsive Design */
@media (min-width: 576px) and (max-width: 991px) {
    .homepage-browse h3 {
        font-size: 2rem;
    }

    .homepage-browse .browse-card .card-text h5 {
        font-size: 1.2rem;
    }

    .homepage-browse .browse-card .browse-button {
        font-size: 10px;
    }
}

@media (max-width: 575px) {
    .homepage-browse {
        padding: 10px;
    }

    .homepage-browse h3 {
        font-size: 1.8rem;
    }

    .homepage-browse .row .col-lg-3 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .homepage-browse .browse-card .card-text h5 {
        font-size: 1rem;
    }

    .homepage-browse .browse-card .browse-button {
        font-size: 10px;
    }
}








/*HOMEPAGE ANNOUNCEMENT*/
.homepage-announcement-section {
    height: auto;
    background-color: rgba(255, 227, 233);
}

.homepage-announcement-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/homepage-webslider-1.jpg);
    text-align: center;
    padding: 40px 20px;
}

.homepage-announcement-header-bg {
    background-color: rgba(0, 0, 0, 0.668);
    padding: 80px 20px;
}

.homepage-announcement-header h1 {
    font-size: 2.5rem;
    font-family: "Montserrat", serif;
    color: #d71132;
    text-shadow: 1px 1px 0px #000000;
}

.homepage-announcement-header p {
    font-size: 1.2rem;
    color: #fff;
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
}

.announcement-carousel img {
    object-fit: cover;
    height: 600px;
    width: 100%;
}

.announcement-carousel .carousel-inner {
    border-radius: 10px;
    position: relative;
}

.announcement-carousel .carousel-caption {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 80%;
    text-align: center;
}

.announcement-carousel .carousel-caption h5 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.announcement-carousel .carousel-caption p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.announcement-carousel .carousel-indicators [data-bs-target] {
    background-color: #d90429;
}

.announcement-carousel .carousel-indicators .active {
    background-color: #be0016;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel-item {
    height: 500px;
}

.announcement-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .carousel-item {
        height: auto;
    }

    .announcement-image img {
        height: auto;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .homepage-announcement-header h1 {
        font-size: 2rem;
    }

    .homepage-announcement-header p {
        font-size: 1rem;
        width: 90%;
    }
}

@media (max-width: 480px) {
    .homepage-announcement-header h1 {
        font-size: 1.5rem;
    }

    .homepage-announcement-header p {
        font-size: 0.9rem;
        width: 100%;
    }

}









/*HOMEPAGE RESERVATION*/
.reserve-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/homepage-webslider-1.jpg);
    text-align: center;
}

.reserve-header-bg {
    background-color: rgba(0, 0, 0, 0.671);
    padding: 80px 20px 70px 20px;
}

.reserve-header h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}

.reserve-header h3 {
    color: #fff;
}

.reserve-header h1,
.reserve-header h3 {
    font-family: "Montserrat", serif;
    color: #d71132;
    text-shadow: 1px 1px 0px #000000;
}

.reserve-header p {
    color: #fff;
    font-size: 1.2rem;
}

.reserve-header .btn-danger {
    font-family: "Montserrat", serif;
}

.reserve-card {
    background-color: #ffffff00;
    transition: transform 0.3s;
}

.reserve-card:hover {
    transform: scale(1.05);
}

.reserve-text {
    background-color: rgba(255, 227, 233);
}

.reserve-text .reserve-card .card-body .reserve-card-title i {
    font-size: 25px;
    color: #d71132;
    text-shadow: 1px 1px 0px #000000;
}

/* Responsive Design */
@media (max-width: 992px) {
    .reserve-header h1 {
        font-size: 2rem;
    }

    .reserve-header p {
        font-size: 1rem;
        width: auto;
    }

    .reserve-header-bg {
        padding: 60px 15px 50px 15px;
    }

    .card-text {
        font-size: 0.9rem;
        padding: 0 15px;
    }
}

@media (max-width: 768px) {
    .reserve-header h1 {
        font-size: 1.8rem;
    }

    .reserve-header h3 {
        font-size: 1rem;
    }

    .reserve-header-bg {
        padding: 50px 10px 40px 10px;
    }

    .card-text {
        font-size: 0.85rem;
    }
}

@media (max-width: 576px) {
    .reserve-header h1 {
        font-size: 1.5rem;
    }

    .reserve-header p {
        font-size: 0.9rem;
    }

    .reserve-header h3 {
        font-size: 0.9rem;
    }

    .card-text {
        font-size: 0.8rem;
        padding: 0 10px;
    }

    .reserve-header-bg {
        padding: 40px 5px 30px 5px;
    }
}







/*FACILITY-SECTION*/
.hompahe-facility-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/homepage-webslider-1.jpg);
    text-align: center;
}

.homepage-facility-section {
    height: auto;
    background-color: rgb(255, 227, 233);
}

.homepage-facility-section .facility-rentals-card .btn {
    font-family: "Montserrat", serif;
}

.hompahe-facility-texts {
    background-color: rgba(0, 0, 0, 0.671);
    padding: 80px 20px;
}

.hompahe-facility-header h1,
.hompahe-facility-header p {
    color: #ffffff;
}

.hompahe-facility-header h1 {
    font-family: "Montserrat", serif;
    color: #d71132;
    text-shadow: 1px 1px 0px #000000;
}

.homepage-form-container {
    border-radius: 5px;
    height: auto;
    background-color: #fffffffc;
}

.homepage-form-container h3 {
    font-family: "Montserrat", serif;
    color: #d71132;
    text-shadow: 1px 1px 0px #0000009f;
}

.homepage-form-container #facility-form label {
    font-size: 20px;
    font-family: "Montserrat", serif;
    color: #d71132;
    text-shadow: 1px 1px 0px #ffffff9f;
}

#homepage-manpower-form .dropdown .btn a {
    text-decoration: none;
    color: #000000;
}

#homepage-manpower-form .dropdown .btn {
    border: unset !important;
}

#homepage-manpower-form label {
    font-size: 20px;
    font-family: "Montserrat", serif;
    color: #d71132;
    text-shadow: 1px 1px 0px #ffffff9f;
}

/* Responsive Design */
@media (max-width: 992px) {
    .hompahe-facility-texts {
        padding: 60px 15px 50px 15px;
    }

    .hompahe-facility-header h1 {
        font-size: 2rem;
    }

    .hompahe-facility-header p {
        font-size: 1rem;
        width: auto;
    }

    .homepage-form-container {
        padding: 20px;
    }

    .facility-rentals-card img {
        max-height: 250px;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .hompahe-facility-header h1 {
        font-size: 1.8rem;
    }

    .hompahe-facility-header p {
        font-size: 0.9rem;
    }

    .homepage-facility-section {
        padding: 15px;
    }

    .facility-rentals-card {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {

    #homepage-manpower-form .dropdown label,
    #homepage-manpower-form .dropdown button {
        text-align: center !important;
    }

    .hompahe-facility-header h1 {
        font-size: 1.5rem;
    }

    .hompahe-facility-header p {
        font-size: 0.8rem;
    }

    .homepage-form-container {
        padding: 15px;
    }

    .hompahe-facility-texts {
        padding: 40px 10px 30px 10px;
    }

    .facility-rentals-card img {
        width: 100%;
        height: auto;
    }

    .homepage-form-container #facility-form label,
    #homepage-manpower-form label {
        font-size: 18px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 12px;
    }
}





/*YEARBOOK-SECTION*/
.homepage-yearboook {
    height: auto;
}

.homepage-yearbook-content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/homepage-webslider-1.jpg);
    text-align: center;
}

.homepage-yearbook-bg {
    background-color: rgba(0, 0, 0, 0.671);
    padding: 80px 20px;
}

.homepage-yearbook-content h1 {
    color: #d71132;
    font-family: "Montserrat", serif;
    text-shadow: 1px 1px 0px #000000;
    font-size: 2rem;
}

.homepage-yearbook-content p {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 auto;
}

.yearbook-section {
    background-color: rgb(255, 227, 233);
}

.yearbook-section .yearbook-form h1 {
    font-family: "Montserrat", serif;
    color: #d71132;
    text-shadow: 1px 1px 0px #000000;
    font-size: 1.8rem;
}

.yearbook-section .yearbook-images img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 1px 2px 10px #00000059;
}

.yearbook-section .yearbook-form .form-label {
    letter-spacing: 2px;
    font-size: 1rem;
    font-family: "Montserrat", serif;
    color: #d71132;
    text-shadow: 1px 1px 0px #0000009f;
}

/* Responsive Design */
@media (max-width: 991px) {
    .homepage-yearbook-bg {
        padding: 60px 15px;
    }

    .homepage-yearbook-content h1 {
        font-size: 1.8rem;
    }

    .homepage-yearbook-content p {
        width: 80%;
        font-size: 1rem;
    }

    .yearbook-section .yearbook-form h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) {
    .homepage-yearbook-content h1 {
        font-size: 1.5rem;
    }

    .homepage-yearbook-content p {
        font-size: 0.9rem;
    }

    .yearbook-section .yearbook-form h1 {
        font-size: 1.3rem;
    }

    .yearbook-section .yearbook-images img {
        border-radius: 3px;
    }
}

@media (max-width: 576px) {
    .homepage-yearbook-content p {
        font-size: 0.8rem;
    }

    .yearbook-section .yearbook-form h1 {
        font-size: 1.2rem;
    }

    .yearbook-section .yearbook-form .form-label {
        font-size: 0.9rem;
    }

    .yearbook-section .yearbook-images img {
        box-shadow: 1px 1px 5px #00000059;
    }
}






/*HOMEPAGE-STAFFS*/
.homepage-staffs {
    height: auto;
}

.homepage-staff {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/homepage-webslider-1.jpg);
    text-align: center;
}

.homepage-staff-header-bg {
    background-color: rgba(0, 0, 0, 0.671);
    padding: 80px 20px;
}

.homepage-staff h1 {
    color: #d71132;
    font-family: "Montserrat", serif;
    text-shadow: 1px 1px 0px #000000;
    font-size: 2rem;
}

.homepage-staff p {
    color: #fff;
    font-size: 1.2rem;
}

.homepage-staffs-card {
    background-color: rgb(255, 227, 233);
}

.homepage-staffs-card .card {
    width: 100%;
    overflow: hidden;
    background-color: #ffffff73;
}

.homepage-staffs-card .card h4 {
    color: #d71132;
    font-family: "Montserrat", serif;
    text-shadow: 1px 1px 0px #000000;
}

.homepage-staffs-card .card img {
    width: 100%;
    max-width: 300px;
    clip-path: circle(50% at 50% 50%);
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 10px;
}

.homepage-staffs-card .card .card-body .contact i {
    font-size: 25px;
    color: #d71132;
    text-shadow: 1px 1px 0px #000000;
}

/* Responsive Design */
@media (max-width: 768px) {
    .homepage-staff h1 {
        font-size: 1.5rem;
    }

    .homepage-staff p {
        font-size: 1rem;
    }

    .contact i {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .homepage-staff h1 {
        font-size: 1.2rem;
    }

    .homepage-staff p {
        font-size: 0.9rem;
        width: 90%;
    }

    .contact i {
        font-size: 18px;
    }

    .homepage-staffs-card .card img {
        max-width: 200px;
        /* Adjust image size for smaller devices */
    }
}







/*HOMEPAGE FOOTER*/
.homepage-links {
    background-color: rgb(255, 255, 255);
    height: auto;
}

.homepage-links h4 {
    font-family: "Montserrat", serif;
    padding-left: 30%;
    letter-spacing: 1px;
}

.homepage-links h3 {
    font-weight: 600;
    color: #d71132;
    font-family: "Montserrat", serif;
    text-shadow: 1px 1px 0px #000000;
}

.homepage-links h4 .fb {
    color: rgb(0, 21, 183);
}

.homepage-links h4 .ig {
    color: rgb(183, 0, 0);
}

.homepage-links h4 span {
    font-size: 15px;
}

.homepage-links .btn {
    font-weight: 600;
    font-family: "Montserrat", serif;
}

.feedback-form {
    max-height: 100px;
}




/* Responsive Styling */
@media (max-width: 768px) {
    .homepage-links h4 {
        padding-left: 10%;
    }

    .homepage-links .col-lg-4 {
        margin-bottom: 30px;
    }

    .homepage-links h3 {
        font-size: 1.5rem;
    }

    .homepage-links h4 {
        font-size: 1.2rem;
    }

    .homepage-links .btn {
        font-size: 1rem;
    }

    .homepage-links .col-lg-4 px-5 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .homepage-links .form-control {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .homepage-links {
        padding: 50px 30px;
    }

    .homepage-links h3 {
        font-size: 1.2rem;
    }

    .homepage-links h4 {
        font-size: 1rem;
    }

    .homepage-links .btn {
        font-size: 0.9rem;
    }

    .homepage-links .col-lg-4 {
        text-align: center;
    }

    .homepage-links h4 {
        padding-left: 0;
    }

    .homepage-links .form-control {
        width: 100%;
        font-size: 0.9rem;
    }
}