* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#logo img {
    border-radius: 50px;
    width: 50px;
    height: auto;
}

#nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
}

#nav .btn-danger a{
    text-decoration: none;
    color: white;
}
.nav-item button a{
    text-decoration: none;
    color: rgb(190, 0, 0);
}
.nav-link {
    margin-right: 20px;
    font-size: 15px;
}

.dropdown .btn {
    border: none !important;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 1px #cacaca7d;
    margin-right: 25px;
}

.dropdown .btn a {
    text-decoration: none;
    color: #000;
}







#home {
    background-image: url(./img/homepage-webslider-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home .btn-outline-danger {
    border-radius: 10px;
    font-size: 20px;
}
#home .btn-outline-danger a{
    color: #ffffff;
    text-decoration: none;
}

.home-bg {
    background: linear-gradient(to right, rgba(85, 0, 0, 0.689), rgba(0, 0, 0, 0.695), rgba(0, 0, 0, 0.525));
}

.box {
    width: 100%;
    height: 100%;
    clip-path: circle(45% at 50% 50%);
    background-color: rgba(255, 255, 255, 0.7);
}
.box img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}

#home h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 30px;
}

#home h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 30px;
}




#Highlight-Section {
    background-color: whitesmoke;
}



#Highlight-Section h4 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.Merchandise-Browse {
    background-color: whitesmoke;
}

.Merchandise-Browse .card {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 1px #8686869a;
}

.Merchandise-Browse .card-title h1 {
    font-size: 20px;
}

.Merchandise-Browse .card:hover {
    transition: ease-in-out;
    box-shadow: 1px 1px 10px 1px #cacaca7d;
}





#Announcement {
    background-color: whitesmoke;
}

#Announcement h4 {
    font-weight: bold;
}

.slide {
    max-width: 100%;
}

.carousel-item img{
    max-width: 100%;
    border-radius: 10px;
}





.res-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/homepage-webslider-1.jpg);
    text-align: center;
}
.res-header-bg{
    background-color: rgba(0, 0, 0, 0.671);
    padding: 80px 20px 70px 20px;
}
.res-header h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}
.res-header h3 {
    color: #fff;
}

.res-header p {
    color: #fff;
    font-size: 1.2rem;
}

.feature-card-reserve {
    height: 120px;
    bottom: 60px;
    transition: transform 0.3s;
}

.feature-card-reserve:hover {
    transform: scale(1.05);
}






.facility-rentals-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/homepage-webslider-1.jpg);
    text-align: center;
    
}
.facility-cont{
    height: 300px;
}
.facility-rentals-bg {
    background-color: rgba(0, 0, 0, 0.671);
    padding: 80px 20px 180px 20px;
}

.facility-rentals-header h1,
.facility-rentals-header p {
    color: #ffffff;
}

.facility-rentals-card img {
    border-radius: 10px;

}

.facility-rentals-card {
    bottom: 150px;
    transition: transform 0.3s;
}
.facility-rentals-card .btn-danger{
    width: 100px;
}

.facility-rentals-card:hover {
    transform: scale(1.02);
}





.yearbook-section{
    height: 400px;
}

.yearbook-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/homepage-webslider-1.jpg);
    text-align: center;
}

.yearbook-header-bg {
    background-color: rgba(0, 0, 0, 0.671);
    padding: 80px 20px 170px 20px;
}

.yearbook-header h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}

.yearbook-header h3 {
    color: #fff;
}

.yearbook-header p {
    color: #fff;
    font-size: 1.2rem;
}
.yearbook-card-text{
    width: 100%;
    height: 320px;
    bottom: 170px;
}
.yearbook-gradpict {
    background-color: #ffffffec;
    bottom: 170px;
    transition: transform 0.3s;
}

.yearbook-gradpict:hover {
    transform: scale(1.01);
}






#Staffs {
    background-color: whitesmoke;
}


#Staffs .card{
    width: 100%;
    transition: transform 0.3s;
}
#Staffs .card img{
    object-fit: cover;
    width: 70%;
    
}
#Staffs .card:hover{
    transform: scale(1.02);
}







footer {
    background-color: rgb(255, 255, 255);
}

footer p,
footer h5,
.list-unstyled li {
    color: rgb(0, 0, 0);
}