@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chela+One&family=Cookie&family=Galindo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Mono+One&display=swap');


* {
    margin: 0;
    padding: 0;
}

*>p {
    font-family: "Open sans", serif;
}

*>h1 {
    font-weight: bold;
}

.navbar {
    font-family: "Montserrat", serif;
    background-color: #ffffff00;
}

.navbar .nav-link {
    color: #d71132;
    text-shadow: 1px 1px 0px #ffffff;
    font-weight: 500;
    transition: 0.05;
}
.navbar .nav-link:hover{
    color: #000000;
    transform: scale(1.02);
    font-weight: 550;
}

.navbar .logo img {
    width: 50px;
    height: auto;
}
#navbarNav button {
   border-radius: unset;
}
#navbarNav button a{
    text-decoration: none;
    font-weight: 700;
    color: #d71132;
}
#navbarNav button a:hover{
    color: #ffffff;
}






/*HOMEPAGE*/
#homepage {
    background-image: url(./img/homepage-webslider-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#homepage .homepage-header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.71);
    padding: 80px 15px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

#homepage .homepage-text .txt {
    color: #ffffff;
    font-size: 5rem;
    letter-spacing: 5px;
}

#homepage .homepage-text .txt2 {
    font-size: 1.2rem;
    color: #fff;
}

#homepage .homepage-text .btn {
    font-family: "Montserrat", serif;
    margin-top: 15px;
    font-weight: 700;
    border-radius: unset;
}
#homepage .homepage-text .btn a{
   text-decoration: none;
   color: #ac001d;
}
#homepage .homepage-text .btn a:hover{
   color: #ffffff;
}

#homepage .homepage-image {
    background-color: #ffffff;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    border: 1px solid #000000bc;
    border-radius: 5px;
    overflow: hidden;
    clip-path: circle(50% at 50% 50%);
}

#homepage .homepage-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    #homepage .homepage-text .txt {
        font-size: 2.5rem;
    }

    #homepage .homepage-text .txt2 {
        font-size: 1rem;
    }

    #homepage .homepage-image {
        max-width: 250px;
        height: 250px;
    }
}

@media (max-width: 576px) {
    #homepage .homepage-text .txt {
        font-size: 2rem;
    }

    #homepage .homepage-header {
        text-align: center;
        padding: 30px 15px;
    }

    #homepage .homepage-image {
        max-width: 200px;
        height: 200px;
    }
}







/*HOMEPAGE BROWSE*/
#merch-browse {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}
#merch-browse .merch-text h1 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(180, 0, 0);
}

#merch-browse .merch-text p {
    font-size: 18px;
}

#merch-browse .merch-items .merc-card {
    border: unset;
}

#merch-browse .merch-items .merc-card .merch-card-text h4 {
    font-weight: 700;
}

#merch-browse .merch-items .merc-card .merch-card-text button {
    width: 100px;
    border-radius: unset;
}

#merch-browse .merch-items .merc-card .merch-card-text button a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(178, 0, 0);
}

#merch-browse .merch-items .merc-card .merch-card-text button a:hover {
    color: rgb(255, 255, 255);
}

#merch-browse .merch-items .merc-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}







/*HOMEPAGE ANNOUNCEMENT*/
#announcement {
    background-image: url(./img/homepage-webslider-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#announcement .announcement-header {
    background-color: #000000b9;
}

.carousel-content .card {
    background-color: transparent;
    border: unset;
    width: 60%;
}

.carousel-content {
    width: 100%;
    height: 500px;
}

.carousel-content h1,
.carousel-content p {
    color: #ffffff;
}

.carousel-content p {
    font-size: 20px;
}
.carousel-content h1 {
    font-size: 70px;
}

.carousel-content button {
    border-radius: unset;
    width: 150px;
}

.carousel-content button a {
    text-decoration: none;
    color: rgb(184, 0, 0);
    font-weight: 700;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .carousel-content .card {
        width: 80%;
    }

    .carousel-content h1 {
        font-size: 3rem;
    }

    .carousel-content p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .carousel-content .card {
        width: 100%;
       
    }
    .carousel-content h1 {
        font-size: 2.5rem;
    }

    .carousel-content p {
        font-size: 1rem;
    }

    .carousel-content button {
        width: 130px;
        height: 40px;
    }
}

@media (max-width: 576px) {
    .carousel-content .card {
        width: 100%;
    }

    .carousel-content h1 {
        font-size: 2rem;
    }

    .carousel-content p {
        font-size: 0.9rem;
    }

    .carousel-content button {
        width: 120px;
        height: 38px;
    }
}










/*HOMEPAGE RESERVATION*/
.reservation-content {
    width: 100%;
    height: auto;
}

.reservation-content .reservation-text h1 {
    font-weight: 700;
    font-size: 50px;
    color: rgb(198, 0, 0);
}

.reservation-content .reservation-text p {
    font-size: 20px;
}

.reservation-content .card {
    width: 700px;
    height: auto;
    border: 5px solid #c80000;
    background-color: #000000db;
    border-radius: unset;
}
.reservation-content .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reservation-content button {
    width: 150px;
    border-radius: unset;
}

.reservation-content button a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(198, 0, 0);
}

@media (max-width: 768px) {
    .reservation-text h1 {
        font-size: 2rem;
    }

    .reservation-text p {
        font-size: 1rem;
    }

    .reservation-button button {
        width: 150px;
    }
}







/*FACILITY-SECTION*/
#facility-rentals .card .fac-card-text i {
    font-size: 40px;
    color: rgb(207, 0, 0);
}
#facility-rentals .facility-cards .facility-heading-text h1 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(180, 0, 0);
}

#facility-rentals .facility-cards .facility-form {
    width: 100%;
    border: 1px solid #000;
}

#facility-rentals .facility-cards .facility-form .personnel-drop .dropdown button {
    background-color: unset;
    color: #000;
    border: unset;
}

#facility-rentals .facility-cards .facility-form label {
    font-weight: 700;
    font-size: 20px;
}
#facility-rentals .facility-cards .facility-form h3 {
    font-weight: 700;
    color: #bb0000;
}

#facility-rentals .facility-cards .facility-form p {
    font-weight: 700;
    font-size: 15px;
}

.form-button button {
    border-radius: unset;
}

.form-button button a {
    text-decoration: none;
    color: #cc0000;
}

.form-button button a:hover {
    color: #ffffff;
}

#facility-rentals .facility-cards .facility-heading-text p {
    font-size: 18px;
}

#facility-rentals .card {
    border: unset;
}

#facility-rentals .card .fac-card-text h3 {
    font-weight: 700;
}

#facility-rentals .card .fac-card-text button {
    border-radius: unset;
}

#facility-rentals .card .fac-card-text button a {
    text-decoration: none;
    color: rgb(207, 0, 0);
    font-weight: 700;
}

#facility-rentals .card .fac-card-text button a:hover {
    color: rgb(255, 255, 255);
}





/*YEARBOOK-SECTION*/
.grad-full-container{
    background-color: #1a1717;
}
.grad-container {
    width: 100%;
    height: auto;
}

.grad-container h1 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(252, 252, 252);
}
.grad-container p {
    color: rgb(255, 255, 255);
}

.grad-container .grad-form {
    border: 1px solid #ffffff;
}

.grad-container .grad-form label {
    font-weight: 700;
    color: #ffffff;
}
.grad-container .grad-form input {
    background-color: transparent;
    border: 1px solid #ffffffd7;
}

.grad-container .dropdown button {
    font-weight: 700;
    border-radius: unset;
}

.graduation-content h4 {
   font-weight: 800;
   color: #bd0000;
}
.graduation-content .grad-photos .image1 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 3px solid #ffffff;
}

.graduation-content .grad-photos .image2 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #8a0000;
}

.graduation-content .grad-photos .image3 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #c30000;
}

.graduation-content .grad-photos .image4 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 3px solid #ffffff;
}
.graduation-content .form-footer-text .grad-icon i,
.graduation-content .form-footer-text .year-icon i{
   color: #bd0000;
   font-size: 40px;
}
.graduation-content .form-footer-text .grad-icon p,
.graduation-content .form-footer-text .year-icon p{
   color: #ffffff;
}





/*HOMEPAGE-STAFFS*/
.staff-container {
    width: 100%;
    height: auto;
}

.staff-container .staff-cards .staff-heading-text h1 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(180, 0, 0);
}

.staff-cards .card {
    width: 100%;
    height: 350px;
    background-color: #1a1717;
    border: unset;
    border-radius: unset;
}

.staff-cards .card img {
    clip-path: circle(50% at 50% 50%);
    width: 150px;
    height: 150px;
    border-radius: calc(150px + 150px);
    border: 3px solid #c60000;
    object-fit: cover;
}

.staff-cards .card .card-body {
    color: #ffffff;
}

.staff-cards .card .card-body h6 {
    color: #c60000;
}

.staff-cards .card .card-body {
    font-size: 12px;
}

.staff-cards .card .staff-links {
   width: 150px;
}

.staff-cards .card .staff-links i {
    font-size: 22px;
    color: #c60000;
}

@media (max-width: 768px) {
    .staff-heading-text h1 {
        font-size: 1.5rem;
    }

    .card img {
        width: 100px;
        height: 100px;
    }
}






/*HOMEPAGE FOOTER*/
.footer-cont {
    background-color: #1a1717;
    width: 100%;
    height: 370px;
}

.footer-image img {
    width: 150px;
    height: 150px;
    border: 2px solid #ffffff;
    border-radius: calc(150px + 150px)
}

.footer-image .media a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #8a0000;
    border-radius: 50%;
    text-decoration: none;
    color: #8a0000;
    font-size: 24px;
    transition: 0.3s;
}

.footer-image .media a:hover {
    background-color: transparent;
    border: 2px solid #ffffff;
}

.footer-image .media a i:hover {

    color: #ffffff;
}

.footer-text p {
    width: 350px;
    height: auto;
    color: #ffffff;
    font-size: 15px;
}

.footer-text h4,
.footer-quick-links h4 {
    color: #8a0000;
    font-weight: 600;
}

.footer-quick-links {
    font-size: 15px;
}

.footer-quick-links p a {
    color: #d8d8d8;
    font-weight: 600;
}

.footer-quick-links p a i {
    color: rgb(255, 255, 255);
}

.footer-feedback .feedback-form label {
    font-size: 20px;
    font-weight: 700;
    color: #8a0000;
}
.footer-feedback .feedback-form button {
    border-radius: unset;
    width: 100px;
}
.footer-feedback .feedback-form button a {
    text-decoration: none;
    color: #8a0000;
    font-weight: 700;
}
.footer-feedback .feedback-form button a:hover {
    color: #d7d7d7;
}

.footer-feedback .feedback-form .others a {
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}
.footer-feedback .feedback-form .others a i{
    font-size: 25px;
    color: #8a0000;
}