body::-webkit-scrollbar {
   width: 12px;
   background: rgba(100, 0, 0, 1);
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-track {
   background: white;
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
   border-radius: 10px
}

body::-webkit-scrollbar-thumb {
   background: black;
   border-radius: 6px;
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb:hover {
   background: linear-gradient(1deg, #000000 5%, #8B0000 95%);
}

body::-webkit-scrollbar-button {
   background: black;
   height: 12px;
   display: block;
}

body::-webkit-scrollbar-button:vertical:start:decrement {
   background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="white" d="M12 8l-6 6h12z"/></svg>') no-repeat center;
   height: 20px;
}

body::-webkit-scrollbar-button:vertical:end:increment {
   background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="white" d="M12 16l6-6H6z"/></svg>') no-repeat center;
   height: 20px;
}

body::-webkit-scrollbar-button:vertical:decrement:not(:start),
body::-webkit-scrollbar-button:vertical:increment:not(:end) {
   display: none;
}